img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}
.top{
    border-radius: 500px 25px;
    direction: rtl;
    background-color: #77DD77;
}
body {
    align-items: center;
    text-align: center;
    padding-top: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-size:30px;
    font-weight: bold;
}
h2{
    font-size: 15px;
    font-weight: normal;
}
.center p{
    border-end-end-radius: 250px 100px;
    direction: rtl;
}
button{
    background-color: #77DD77;
}